## back
backEnd/HELP.md
backEnd/target/
backEnd/target/
backEnd/.settings/
backEnd/.classpath
backEnd/.project


.vscode/



### IntelliJ IDEA ###
front/node_modules/
backEnd/.idea
backEnd/*.iws
backEnd/*.iml
backEnd/*.ipr


### VS Code ###
front/.vscode/
front/node_modules/
front/.angular/
front/.env




